<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

  <head>
     <meta charset="utf-8">
      <title><%= title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

    <link href="/stylesheets/foundation.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,500,600' rel='stylesheet' type='text/css'>

    <script src="/js/vendor/custom.modernizr.js"></script>

    <!-- Popup script 
    <script>
      $(document).ready(function() {
        $('#windowTitleDialog').bind('show', function () {
          document.getElementById ("xlInput").value = document.title;
          });
        });
      function closeDialog () {
        $('#windowTitleDialog').modal('hide'); 
        };
      function okClicked () {
        document.title = document.getElementById ("xlInput").value;
        closeDialog ();
        };
      </script> -->

     
  </head>
  <body style="display:none;" onunload="">
   <div class="row">
    <div class="large-12 columns">
      <!-- Header and Nav -->
      <% include includes/header.ejs %>
      <!-- End of Nav Section-->

    <!-- Page / ranking special -->
    <div class="row">
      <h2 class="bigTitle pageHeader"><%= rankingTitle %> </h2>
    </div>


    <!-- Content sectiong -->


      <div style="width: 100%;">

        <!-- Content sectiong Kickstarter-->

         <div class="row" style="padding-top:30px; padding-bottom:20px">
        <ul class="small-block-grid-3 large-block-grid-5">
        <%
          titleClass = "gametitle"; 
          for (var i=0; i < 5; i++){ 
        %>
          
            <li>
              <div class="item">                
                <a href="/details/<%= data[i]._id %>" rel="fade">
                 <div class="rectangle label" style="float:left; position:absolute; top:20px; left:10px; font-size:1.1em"><%= i+1 %></div>
                  <div class="item-billboard">
                    <img src="<%= data[i].get('thumbUrl') %>" height="245" style="width:100%; vertical-align:top;"/>
                  </div>

                  <div class="small-12 columns <%= titleClass %>" style="padding-top: 30px;"><h6><%= data[i].title %></h6><% if (data[i].title.length < 24) { %><br><% } %></div>

                  <div class="item-detail">
                      <div class="container">
                        <div class="row" style="background-color: rgb(236, 236, 236);">
                          <div class="small-12 columns <%= titleClass %>" style="background-color: rgb(236, 236, 236);">
                              <p><strong><%= data[i].trendIndex %></strong> Mentions<br />Launches <%= String(data[i].releaseDate).substring(0,15) %></p>
                              <p><%= data[i].get('description').substring(0,140) %>... <% var str = data[i].get('description'); console.log("the description will be ", str.substring(0,140), "...") %></p> 
                            
                          </div>
                        </div>
                      </div>


                    </div> 
                  
                </a>
              </div>
            </li>
          
        <%
         }
        %>
        </ul>
      </div>

    <div class="lightgray">

       <div class="row" style="padding-top:30px; padding-bottom:20px">
        
        <ul class="small-block-grid-4 large-block-grid-7">
        <% 
          for (var i=5; i < data.length; i++){ 
        %>
          
            <li>
              <div class="itemsmall">
                <a href="/details/<%= data[i]._id %>" rel="fade">
                <div class="rectangle label" style="float:left; position:absolute; top:10px; left:10px; font-size:0.9em"><%= i+1 %></div>
                  <div class="itemsmall-billboard">
                    <img src="<%= data[i].get('thumbUrl') %>" height="245" style="width:100%;"/>
                  </div>
                  <div class="small-12 columns <%= titleClass %>" style="padding-top:;"><h6><%= data[i].title %></h6><% if (data[i].title.length < 21) { %><br><% } %></div>

                  <div class="itemsmall-detail">
                      <div class="container">
                        <div class="row">
                          <div class="small-12 columns <%= titleClass %>">
                              <p><strong><%= data[i].trendIndex %></strong> Mentions<br />Goes Live <%= String(data[i].releaseDate).substring(0,15) %></p>
                              <p><%= data[i].get('description').substring(0,100) %>... <% var str = data[i].get('description'); console.log("the description will be ", str.substring(0,140), "...") %></p> 
                            
                          </div>
                        </div>
                      </div>


                    </div> 
                  
                </a>
              </div>
            </li>
          
        <%
         }
        %>
        </ul>
      

      </div>
      
    </div>

 <!-- footer are -->
    <% include includes/footer.ejs %>
  <!-- end of footer area -->

    

    <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="/js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51351-11', 'weareplaying.it');
    ga('send', 'pageview');

  </script>

   <script>
        $('.row[data-match-height]').each(function(){
          var self = $(this);
          self.find('.panel').height(self.height());
          $(window).on('resize', function(event) {
            var row_width = self.width();
            var panels = self.find('.panel');
            // Reset height of the panels
            panels.height('');
            var h = self.height();
            panels.each(function() {
              var panel = $(this);
              if ((row_width - panel.width()) > 40) {
                panel.height(h);
              }
            });
          });
        });

      </script>
  
  <script>
    $(document).foundation();
  </script>

  <script>
    function newpage() {
    window.location = newLocation
}

function Reload() {
    try {
        var e = document.getElementsByTagName("head")[0];
        e && e.innerHTML && (e.innerHTML += " ")
    } catch (t) {}
}
/iphone|ipod|ipad.*os 5/gi.test(navigator.appVersion) && (window.onpageshow = function (e) {
    if (e.persisted) {
        document.body.style.display = "none";
        location.reload()
    }
});
$(document).ready(function () {
    $("body").css("display", "none");
    $.fn.collapsable = function (e) {
        return this.each(function () {
            var e = $(this),
                t = $(".main");
            /*
            e.click(function () {
                if (e.is(":visible")) {
                    t.slideToggle("fast");
                    t.toggleClass("clearfix")
                }
            }); 
            $(window).resize(function () {
                $(window).width() >= 600 && t.toggleClass("clearfix").show()
            })*/
        })
    };
    var e = $(".menu-btn");
    e.collapsable();
    e.click(function (t) {
        e.toggleClass("open")
    });
    $("body").fadeIn(600);
    $("a[rel=fade]").click(function (e) {
        e.preventDefault();
        newLocation = this.href;
        $("body").fadeOut(600, newpage)
    })
});
window.addEventListener("load", function () {
    setTimeout(function () {
        window.scrollTo(0, 1)
    }, 0)
});
  </script>

  </body>
</html>
